{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
    <div>
        <h1 class="lg-home-title">Menu</h1>
        <div class="d-flex flex-row">
            <img src="{{ asset('build/images/logo.png') }}" alt="Logo Legermain">
            <h1 class="lg-home-brand">Legermain</h1>
        </div>
    </div>

{% endblock %}
