/* assets/styles/app.scss */
$primary: darken(#428bca, 20%);
$mainBackgroundTheme: #EDEAE6;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'Slimmo_Jimmy';
  src: url('fonts/Slimmo_Jimmy.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: $mainBackgroundTheme;
}

.lg-home-title, .lg-home-brand {
  font-family: "Slimmo_Jimmy";
}

.lg-homeDiv {
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}

.lg-home-logo {
  width: 20%;
}

.lg-home-brand {
  font-size: 10vw;
  margin-left: 0.5em;
}

.lg-home-spacer {
  margin: auto;
  border-color: white;
  background-color: white;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C9B498;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 8%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  color: white;
  cursor: default
}

.overlay a:hover, .overlay a:focus {
  color: #3F4B41;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.lg-home-activity {
  color: #081E0A;
}

.lg-home-activity-title {
  font-weight: lighter;
  font-size: 28px;
}

.lg-home-activity-text {
  font-weight: lighter;
  font-size: 22px;
}

.form-control{
  background-color: #C9B498;
  color: white;
  box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.16);
}
.form-control:focus{
  background-color: #b9a080;
  color: white;
}

.btn-primary{
  margin: 1em;
  box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.16);
  border: none;
  background-color: #C9B498;
  color: white;
}

.btn-primary:hover{
  background-color: #d9c6b2;
}