{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Administration de Legermain' %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>Supervision du site :</strong>
    </p>


{% endblock %}
